@charset 'utf-8';

@import url('https://cdn.jsdelivr.net/npm/victormono@latest/dist/index.min.css');

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: scroll;
}

// Custom Variables
@import './variables.scss';

@import '../../../../node_modules/uikit/src/scss/variables.scss';
@import '../../../../node_modules/uikit/src/scss/mixins.scss';
@import '../../../../node_modules/uikit/src/scss/components/base.scss';
@import '../../../../node_modules/uikit/src/scss/uikit.scss';
