$background: #222;
$white: #FFF;

$global-font-family: 'Victor Mono';
$base-body-color: $white;
$base-body-background: $background;

$global-text-primary-vcolor: $white;
$global-emphasis-color: $white;
$global-muted-color: #BFBFBF;

$global-link-color: $white;
$global-link-hover-color: $white;

$navbar-background: #333333;
$dropbar-background: #1A1A1A;
$dropbar-color: $white;

$form-background: #1A1A1A;
$form-color: $white;
$form-focus-color: $white;

$modal-dialog-background: $background;
$modal-header-background: $background;
$modal-footer-background: $background;

$inverse-global-color-mode: none;
