$global-font-family: 'Victor Mono';
$base-body-color: #FFF;
$base-body-background: #222;

$global-text-primary-vcolor: #FFF;
$global-emphasis-color: #FFF;
$global-muted-color: #BFBFBF;

$global-link-color: #FFF;
$global-link-hover-color: #FFF;

$navbar-background: #333333;
$dropbar-background: #1A1A1A;
$dropbar-color: #FFF;

$form-background: #1A1A1A;
$form-color: #FFF;
$form-focus-color: #FFF;

$inverse-global-color-mode: none;
