$global-font-family: 'Victor Mono';
$global-background: #222;

$global-text-primary-color: #FFF;
$global-emphasis-color: #FFF;
$global-muted-color: #BFBFBF;

$global-link-color: #FFF;
$global-link-hover-color: #FFF;

$navbar-background: #333333;
$dropbar-background: #1A1A1A;
$dropbar-color: #FFF;

$inverse-global-color-mode: none;
